input[type=color] {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	/* border-radius: 0.125rem; */
	overflow: hidden;
}

input[type=color]::-webkit-color-swatch-wrapper,
input[type=color]::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
	/* border-radius: 0; */
	/* border-radius: 0.125rem; */
	padding: 0;
}